<!DOCTYPE html>
<html>
    <head>
        <title>Note App</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheet/app.css">
    </head>
    
    <body>
    <P>From the header file</P>
     <div class="ui fixed inverted menu">
        <div class="ui container">
         
         <a class="header item"><i class="code icon"></i>Note site</a>
         <a href="/indexnote" class="item">Home</a>
         <a href="/indexnote/new" class="item">New Post</a>
         </div>
     </div>