<!DOCTYPE html>
<html>
    <head>
        <title>Notes</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheet/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
    <div>
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand font-weight-bold btn btn-outline-dark " href="/api/user/login">login</a>

  <a class="navbar-brand font-weight-bold btn btn-outline-dark " href="/api/user/register">Resister</a>
</div>
    
    <div style="margin-top:300px;margin-left:700px;" id="landing-header">
 		<h1 style="margin-left:60px ;">Notes</h1>
		<a href="/indexnote" class="btn btn-lg btn-success">Welcome to the Notes</a>
    </div>
    
    

<% include partials/footer %>